<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head th:fragment=“site-head”>
    <meta charset=“UTF-8”/>
    <!--    <link rel="stylesheet" type="text/css" href="css/web.css">-->
    <link rel="stylesheet" th:href="@{/css/style.css}"/>
    <title>Ruoxuan's Blog</title>
</head>
<body>
<header th:fragment=“site-header”>
    <div class="nav">
        <div class="nav-bar">
            <text>Ruoxuan's Blog</text>
            <div class="nav-right">
                <a th:href="@{/articles}" class="nav-item">Posts</a>
                <a th:href="@{/edit}" sec:authorize="hasAuthority('ADMIN')" class="nav-item" >Create Post</a>
                <a th:href="@{/login}" sec:authorize="!isAuthenticated()" class="nav-item">Login</a>
                <a th:href="@{/register}" sec:authorize="!isAuthenticated()" class="nav-item">Register</a>
                <a th:href="@{/logout}" sec:authorize="isAuthenticated()" class="nav-item">Log out</a>
                <a sec:authorize="isAuthenticated()" sec:authentication="name" class="nav-item"></a>
            </div>
        </div>
    </div>
</header>

<div class="container">
    <form action="#" th:action="@{/edit}" th:object="${article}" method="post" role="form">
        <div>
            <label for="title">Title</label>
            <input class="article-title" type="text" name="title" th:value="*{title}" id="title" required/>
        </div>
        <div>
            <label for="content" style="width: 1200px">Content</label>
            <textarea name="content" id="content" class="article-textarea" th:value="*{content}" required></textarea>
        </div>
        <div>
            <button type="submit">Submit</button>
        </div>
    </form>
</div>
</body>
</html>