<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head th:fragment=“site-head”>
    <meta charset=“UTF-8”/>
    <!--    <link rel="stylesheet" type="text/css" href="css/web.css">-->
    <link rel="stylesheet" th:href="@{/css/style.css}"/>
    <title>Ruoxuan's Blog</title>
</head>
<body>
<header th:fragment=“site-header”>
    <div class="nav">
        <div class="nav-bar">
            <text>Ruoxuan's Blog</text>
            <div class="nav-right">
                <a th:href="@{/articles}" class="nav-item">Posts</a>
                <a th:href="@{/edit}" sec:authorize="hasAuthority('ADMIN')" class="nav-item" >Create Post</a>
                <a th:href="@{/login}" sec:authorize="!isAuthenticated()" class="nav-item">Login</a>
                <a th:href="@{/register}" sec:authorize="!isAuthenticated()" class="nav-item">Register</a>
                <a th:href="@{/logout}" sec:authorize="isAuthenticated()" class="nav-item">Log out</a>
                <a sec:authorize="isAuthenticated()" sec:authentication="name" class="nav-item"></a>
            </div>
        </div>
    </div>
</header>
<div class="container">
    <form action="#" th:action="@{/register}" th:object="${user}" method="post" role="form">
        <div>
            <label for="username">Username</label>
            <input type="text" name="username" th:value="*{username}" id="username" required/>
        </div>
        <div>
            <label for="password">Password</label>
            <input type="password" name="password" id="password" th:value="*{password}" required/>
        </div>
        <div>
            <label for="email">Email</label>
            <input type="text" name="email" id="email" th:value="*{email}" required/>
        </div>
        <div>
            <button type="submit">Submit</button>
        </div>
    </form>
</div>

</body>
</html>